*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

img {
  width: 100%;
  display: block; }

html {
  font-size: 62.5%; }

body {
  font-family: "Spartan", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  font-size: 1.5rem;
  color: #5ba4a4;
  min-height: 100vh; }

.hidden {
  display: none !important; }

.filter {
  max-width: 110rem;
  margin: -9rem auto 5rem auto;
  padding: 1.5rem 3rem;
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1rem 2.5rem rgba(91, 164, 164, 0.4);
  font-weight: 700;
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; }
  .filter__list {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem; }
  .filter__item {
    display: flex;
    border-radius: 0.5rem;
    overflow: hidden; }
  .filter__selected {
    background-color: #eef6f6;
    padding: 0.5rem 1rem 0.3rem 1rem; }
  .filter__remove {
    width: 3rem;
    background-color: #5ba4a4;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.2s; }
    .filter__remove:hover {
      background-color: #2c3a3a; }
    .filter__remove img {
      width: 40%; }
  .filter__clear {
    text-decoration: none;
    color: #5ba4a4;
    transition: all 0.2s; }
    .filter__clear:hover {
      text-decoration: underline; }

.banner {
  height: 30vh;
  max-height: 15rem;
  background-image: url(../images/bg-header-mobile.svg), linear-gradient(#509191, #509191);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  @media screen and (min-width: 900px) {
    .banner {
      background-image: url(../images/bg-header-desktop.svg), linear-gradient(#509191, #509191);
      height: 25vh; } }

.offers-container {
  min-height: calc(100vh - 15rem);
  background-color: #effafa;
  padding: 6rem 5% 3rem 5%; }
  @media screen and (min-width: 900px) {
    .offers-container {
      min-height: 85vh; } }

.offer {
  max-width: 110rem;
  margin: 0 auto;
  padding: min(2.5rem, 5%);
  border-radius: 0.5rem;
  background-color: #fff;
  box-shadow: 0 1rem 2.5rem rgba(91, 164, 164, 0.4);
  display: flex;
  flex-direction: column;
  position: relative; }
  @media screen and (min-width: 900px) {
    .offer {
      flex-direction: row;
      justify-content: space-between;
      align-items: center; } }
  .offer:not(:last-child) {
    margin-bottom: 5rem; }
  .offer--featured {
    border-left: solid 5px #5ba4a4; }
  .offer__company-logo {
    width: clamp(5rem, 15%, 6rem);
    position: absolute;
    top: 0;
    left: min(2.5rem, 5%);
    transform: translateY(-50%); }
    @media screen and (min-width: 900px) {
      .offer__company-logo {
        position: relative;
        top: unset;
        left: unset;
        transform: none;
        width: 8rem; } }
  .offer__details {
    padding: 2rem 0; }
    @media screen and (min-width: 900px) {
      .offer__details {
        padding: 0;
        margin: 0 10% 0 2rem; } }
    .offer__details > div {
      display: flex;
      align-items: center;
      gap: 2rem; }
    .offer__details > *:not(:last-child) {
      margin-bottom: 1rem; }
  .offer__company-name {
    font-size: 1.5rem; }
  .offer__tag {
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    padding: 0.5rem 1rem 0.3rem 1rem;
    border-radius: 100rem; }
    .offer__tag--new {
      background-color: #5ba4a4; }
    .offer__tag--featured {
      background-color: #2c3a3a; }
  .offer__position {
    font-size: 1.8rem;
    font-weight: 700;
    color: #2c3a3a;
    cursor: pointer; }
  .offer__info {
    display: flex;
    list-style-type: none; }
    .offer__info li {
      font-size: 1.2rem;
      color: #7b8e8e; }
      .offer__info li:not(:first-child) {
        margin-left: 2rem;
        position: relative; }
        .offer__info li:not(:first-child)::after {
          content: "";
          position: absolute;
          top: 50%;
          left: -1rem;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          transform: translate(-50%, -50%);
          background-color: #7b8e8e; }
  .offer__filters-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding-top: 2rem;
    border-top: solid 1px #7b8e8e; }
    @media screen and (min-width: 900px) {
      .offer__filters-list {
        padding: 0;
        border-top: none;
        margin-left: auto; } }
  .offer__filter {
    font-weight: 700;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #effafa;
    transition: all 0.2s;
    cursor: pointer; }
    .offer__filter:hover {
      color: #effafa;
      background-color: #5ba4a4; }
